body{
	background-image:url("https://img.freepik.com/free-photo/creative-abstract-illustration-with-double-bass-generative-ai_169016-30116.jpg?size=626&ext=jpg&ga=GA1.1.816097276.1708671445&semt=sph");
	background-size:cover;
	background-repeat:round;
	background-attachment: fixed;
}

	
